{% extends 'base.html' %}



{% block title%}
    <title>About Us</title>
{% endblock%}

{% block content %}
    <div class="container">
        <div>
            <h2 class="my-5">Welcome to about us</h2>
            <p class="about-text my-5">Blogpedia was founded in 2020 with the motive to provide platform to share information and experiences by users which may help people to get aware about something they are looking. Today blogpedia is one of the greatest platforms to share and get the information with huge active community.</p>
        </div>
    </div>    
{% endblock content %}